<!DOCTYPE html>
<html class="bg-grey-4">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="/font-barcode/code128_all.css">
  </head><style>@keyframes lds-circle { 0%, 100% {animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);} 0% {transform: rotateY(0deg);} 50% {transform: rotateY(1800deg); animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1); } 100% {transform: rotateY(3600deg);}} </style>
</head>
<body class="r-app bg-grey-4" ontouchstart="">
  <!-- DO NOT touch the following DIV -->
  <div id="q-app">
    <div style="display: inline-block; transform: translateZ(1px); position: fixed; top: 50%; left: 50%; margin-left: -32px; margin-right: -32px;"><div style=" background: #1a009f;display: inline-block; width: 32px; height: 32px; margin: 8px; border-radius: 50%; animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;"></div></div></div>
  </body>
</html>
